{% extends "base_template.html" %}

{% block title %}
        <title>Djando - Exercicios</title>
    {% endblock %}

    {% block corpo %}

    <main class="container m-2 mx-auto my-font-family">

        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Lista de instrutores</h2>
            </div>
        </div>

        <!-- tabela responsiva -->
        <div class="table-responsive">
        </div>

        {% else %}

            <!-- classes para tabela (Bootstrap) , tabela sem borda, conteudo alinhado ao centro, ... , width: auto -->
            <table class="table
                        table-borderless
                        text-center
                        my-table-hover
                        my-table-image
                        my-table-td-first-child
                        my-table-border-bottom
                        my-table-th
                        w-100">

                <!-- cabecalho -->
                <thead>
                    <!-- linhas -->
                    <tr>
                        <!-- colunas cabecalho -->
                        <th>ID</th>
                        <th>RG</th>
                        <th>Nome</th>
                        <th>Data Nascimento</th>
                        <th>DDD</th>
                        <th>Telefone</th>
                        <th>Título</th>
                    </tr>
                </thead>

                <!-- linhas -->
                 {% for ta in instrutores %}

                <tr>
                    <td> {{ i.id }} </td>
                    <td> {{ i.rg }} </td>
                    <td> {{ i.nome }} </td>
                    <td> {{ i.data_Nascimento }} </td>
                    <td> {{ i.ddd }} </td>
                    <td> {{ i.telefone }} </td>
                    <td> {{ i.titulo.descricao }} </td>
                </tr>

                {% endfor %}

            </table>

        </div>

        {% else %}
            <div class = "text-danger">
                <p>Não há instrutores cadastrados.</p>
            </div>

        {% endif %}

    </main>

    {% endblock %}